<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>FormBuilder POC</title>

        <style>
            body {
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <!-- address-form -->
        <div id="address-form"></div>
        <fragment src="http://localhost:8081"></fragment>

        <!--  biographic-form-->
        <div id="biographic-form"></div>
        <fragment src="http://localhost:5000"></fragment>
    </body>
</html>
